# A workflow for controlling the acions taken by CI whenever we merge code into master

name: Android SDK Master CI

# Triggers the workflow on when code is merged into master
on:
  push:
    branches:
      - 'master'

jobs:
  # This workflow contains a job for running our tests
  test:
    name: Run Unit Tests

    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v2

      # Sets up a JDK on the job so that we can run Java code
      - name: Set up JDK 11
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          java-package: jdk

      # Call Gradle to run the unit tests
      - name: Unit Tests
        run: ./gradlew test --stacktrace --no-daemon

  # A second job for building our our SDK's AAR file begins here
  aar:
    name: Generate AAR
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v2

      # Sets up a JDK on the job so that we can run Java code
      - name: Set up JDK 11
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          java-package: jdk

      # Call Gradle to build our our debug AAR
      - name: Build debug AAR
        run: ./gradlew assembleDebug --stacktrace --no-daemon

      # Stores the generated AAR to an outputs folder
      - name: Store AAR
        uses: actions/upload-artifact@v2
        with:
          name: sdk
          path: app/build/outputs/aar/debug/aar-debug.aar

