# A workflow for controlling the acions taken by CI whenever we merge code into master

name: Android SDK Master CI

# Triggers the workflow on when code is merged into master
on:
  push:
    branches:
      - 'master'

jobs:
  # This workflow contains a single job for running our tests
  test:
    name: Run Unit Tests

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v1

      # Sets up a JDK on the job so that we can run Java code
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # Call Gradle to run the unit tests
      - name: Unit Tests
        run: bash ./gradlew test --stacktrace

    aar:
      name: Generate AAR
      # The type of runner that the job will run on
      runs-on: ubuntu-latest

      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
        - uses: actions/checkout@v1

        # Sets up a JDK on the job so that we can run Java code
        - name: Set up JDK 11
          uses: actions/setup-java@v1
          with:
              java-version: 11

        # Call Gradle to build our our debug AAR
        - name: Build debug AAR
          run: bash ./gradlew assembleDebug --stacktrace

        # Stores the generated AAR to an outputs folder
        - name: Store AAR
          uses: actions/upload-artifact@v1
          with:
            name: sdk
            path: app/build/outputs/aar/debug/aar-debug.aar

