# A workflow for controlling the actions taken by CI whenever we push a commit to an open pull request

name: Android SDK Feature CI

# Triggers the workflow whenever a pull request is opened, reopened or has commits pushed to it
on:
  pull_request

jobs:
  # A job for running our tests
  test:
    name: Run Unit Tests

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        module: [ ':sdk:core', ':sdk:analytics', ':sdk:forms', ':sdk:push-fcm', ':sample' ]

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v4

      # Sets up a JDK on the job so that we can run Java code
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: jdk

      - name: Add Google Services from Secrets
        run: 'echo "$GOOGLE_SERVICES_JSON" > ./sample/google-services.json'
        shell: bash
        env:
          GOOGLE_SERVICES_JSON: ${{secrets.GOOGLE_SERVICES_JSON}}

      # Call Gradle to run the unit tests
      - name: Unit Tests
        run: ./gradlew ${{ matrix.module }}:test --stacktrace --no-daemon

  # Another job for asserting our linting rules
  ktlint:
    name: Run ktlintCheck

    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - uses: actions/checkout@v4

      # Sets up a JDK on the job so that we can run Java code
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          java-package: jdk

      # Call Gradle to run ktlint check
      - name: KtlintCheck
        run: bash ./gradlew ktlintCheck
