# A workflow for controlling the acions taken by CI whenever we push a commit to an open pull request

name: Android SDK Example Build

jobs:
  # This workflow contains a single job for running our tests
  test:
    name: Run Unit Tests
    
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
    - uses: actions/checkout@v2
  
    # Sets up a JDK on the job so that we can run Java code
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    # Set up a APK for testing
    - name: Set up APK
      run: bash ./example :example:assembleDebug --stacktrace
    
